@font-face {
    font-family: "THICCCBOI";
    src: url("../fonts/TTF/THICCCBOI-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "THICCCBOI";
    src: url("../fonts/TTF/THICCCBOI-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: "THICCCBOI";
    src: url("../fonts/TTF/THICCCBOI-ExtraBold.ttf");
    font-weight: 800;
}

@font-face {
    font-family: "THICCCBOI";
    src: url("../fonts/TTF/THICCCBOI-Medium.ttf");
    font-weight: 500;

}

@font-face {
    font-family: "THICCCBOI";
    src: url("../fonts/TTF/THICCCBOI-Light.ttf");
    font-weight: 300;
}

@font-face {
    font-family: "THICCCBOI";
    src: url("../fonts/TTF/THICCCBOI-SemiBold.ttf");
    font-weight: 600;
}

* {
    font-family: "THICCCBOI", sans-serif;
}

.box-1 {
    background: linear-gradient(259.08deg, #50EDFF -5.05%, #48B8DA 63.97%, #3B5998 130.42%);

}

.overflow-lg-hidden {
    overflow: hidden;
}

/*----------------------- businesses-generate-slider -----------------------*/
.slider .slick-list {
    overflow: hidden !important;
    
}

.slider .slick-track {
    display: flex;
    gap: 47px;
    padding-top: 128px;
    padding-bottom: 28px;
}

.slider .slick-dots li {
    background-color: #d9d9d9;
    border-radius: 100px;
    width: 10px;
    height: 10px;
}

.slider .slick-dots .slick-active {
    width: 10px;
    background-color: #3b5998;
    border-radius: 21px;
    height: 10px;
}

.slider .slick-dots {
    z-index: 555;
    width: 99px !important;
    height: 90px !important;
    position: absolute;
    right:45%;
    bottom: -104px;
}

.slider .slick-dots li button:before {
    color: transparent !important;
}

.slider button.slick-next {
    display: none !important;
}

.slider button.slick-prev {
    display: none !important;
}

/*----------------- footer slider -------------------- */
.slider-footer .slick-track {
    display: flex;
    gap: 80px;
    align-items: center;
}

.slider-footer.slick-dotted.slick-slider {
    display: unset !important;
}

.slider-footer .slick-dots {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100%;
    position: unset;
}

/* ==================== tab section css ============================== */
.tab-list .active {
    background-color: #3B5998;
    color: white;
}

.tab-content>div {
    display: none;
}

.tab-content>.active {
    display: block;
    font-weight: bold;
}

/* ========================= tab section 2 css =========================== */

.tab-list-2 .active {
    background-color: #3B5998;
    border: 2px #3B5998;
    color: white;
}

.tab-content-2>div {
    display: none;
}

.tab-content-2>.active {
    display: block;
}